:root {
  font-family: "MyFont", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --primary-color: #f8470e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'MyFont';
  src: url('assets/Aeonik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  width: 100vw;
  color: black;
  overflow-x: hidden;
  background-color: #f5f5f8;
  /* opacity: 0.4; */
  /* background-image: radial-gradient(#000000 0.55px, #f5f5f8 0.55px); */
  background-size: 11px 11px;
}

main {
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2%;
}

h1,
h2,
h3 {
  font-family: "MyFont", sans-serif;
}

a {
  color: #f5f5f5;
}

a:hover {
  opacity: 70%;
}
/* Navigation bar */

nav {
  display: flex;
  align-items: center;
  background-color: #f5f5f8;
  position: sticky;
  z-index: 99;
  top: 0;
  height: 3rem;
  padding: 2rem 3rem 2rem 3rem;
  font-weight: 500;
}

nav h2 {
  font-size: 1.7rem;
  color: var(--primary-color);
  flex: 1;
}
nav h2 span {
  color: black;
}

.nav-links {
  display: flex;
  gap: 3.5rem;
  margin-right: 5rem;
}

.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  position: relative;
  font-size: 1.05rem;
  color: black;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #d4cfcf;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  background-color: #f8470e;
  width: 120%;
  height: 3px;
  bottom: -5px;
  left: -10%;
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

nav img {
  max-width: 48px;
}

/* HERO SECTION */

.home {
  padding-top: 3vh;
}

.home .intro{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  border-radius: 10px;

  color: #f5f5f5;

  
  margin-bottom: 30px;
  padding: 19px 29px;
background-image: url('assets/dddepth-343.jpg');
opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.home h2 {
  font-size: 5rem;
}
.home span {
  font-weight: 700;
}
.home .about {
  font-size: 1.15rem;
  line-height: 2.5rem;
  text-align: start;

}

.home .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



/* SKILLS */

.skills {
  padding-top: 60px;
}

.skills h2 {
  font-size: 2rem;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 15px;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f5f5f5;
  border: 2px solid #27272a;
  border-radius: 25px;
  background-color: #18181b;
  width: fit-content;
  padding: 10px;
  filter: grayscale(100%) brightness(70%);
  transition: 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.skill-card:hover {
  filter: grayscale(0%) brightness(100%);
  transform: scale(1.2);
}

i {
  font-size: 1.5rem;
}
/* PROJECT */

.project {
  padding-top: 60px;
  width: 100%;
}

.project h2 {
  font-size: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  margin-top: 15px;
  gap: 5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  height: auto;
  width: 100%;
}

.project-card img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
}

.project-mainview {
  position: relative;
}

.proj-name-bg {
  background-color: #18181b;
  opacity: 96%;
  border-radius: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 10px;
}

.project-name {
  font-size: 1.55rem;
  font-weight: 600;
  padding-left: 15px;
}

.project-name::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 50%;
  background: #b91c1c;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%) scale(0.8);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}

.project-details {
  background-color: #fff7ed;
  color: #1a1a1a;
  opacity: 99%;
  width: 100%;
  text-align: left;
  border-radius: 0 0 10px 10px;
  padding: 14px;

  display: flex;
  flex-direction: column;
}

.project-details .description {
  font-size: 0.8rem;
  margin-bottom: 14px;
}

.project-footer {
  display: flex;
}

.project-footer .tools {
  flex: 1;
  list-style: none;
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
}

.project-footer .tool-card {
  background-color: #b91c1c27;
  color: #b91c1c;

  width: fit-content;
  padding: 1px 7px;
  border-radius: 50px;

  user-select: none;
}

.project-footer .tool-card p {
  margin: 1px;
}
.project-footer .links {
  display: flex;
  gap: 20px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #18181b;
  margin-top: 150px;
  padding: 20px 50px;
}

.footer h4 {
  font-weight: 400;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  main {
    padding: 0 2.6vw;
    width: 100vw;
    max-width: 100vw;
  }

  nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem;
  }

  nav img {
    padding: 2.5px;
  }

  .nav-links {
    display: none;
  }

  .home {
    margin-top: 40px;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
    text-align: left;
    margin-bottom: 40px;
    
  }

  .home h2 {
    font-size: 3rem;
  }

  .home about {
    font-size: 1rem;
    line-height: 2rem;
  }



  .skill-grid {
    gap: 1.6rem;
  }

  .skill-card {
    filter: grayscale(0%) brightness(100%);
  }

  .skills h2 {
    font-size: 1.6rem;
  }

  .skill-card h4 {
    font-size: 1rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .project-details {
    border-radius: 0 0 10px 10px;
  }
  .project-name {
    font-size: 1rem;
  }
  
  .project-footer .tool-card p {
    font-size: 0.9rem;
  }
  .project h2 {
      font-size: 1.6rem;
  }

  .footer {
    padding: 30px 20px;
    gap: 1rem;
    flex-direction: column-reverse;
  }
}
