:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  display: none;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: #ffffff;
  width: 100vw;
  color: black;
  overflow-x: hidden;
  
}

main {
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2%;
}

h1, h2, h3 {
  font-family: 'Manrope', sans-serif;
}

a {
  color: #f5f5f5;
}

a:hover{
  opacity: 70%;
}
/* Navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: sticky;
  z-index: 99;
  top: 0;
  height: 3rem;
  padding: 2rem 14rem 2rem 7rem;
}

nav h2{
  font-size: 1.7rem;
  color: #f8470e;
}
nav h2 span {
  color: black;
}


.nav-links{
  display: flex;
  gap: 3.5rem;
}

.nav-links li{
  list-style: none;
  
  
  
}
.nav-links li a {
  text-decoration: none;
  position: relative;
  font-size: 1.4rem;
  color: black;
  transition: 0.3s ease;

}

.nav-links li a:hover {
  color: #d4cfcf;
}

.nav-links li a::after{
  content: '';
  position: absolute;
  background-color: #f8470e;
  width: 120%;
  height: 3px;
  bottom: -5px;
  left: -10%;
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  
}

.nav-links li a:hover::after {
transform: scaleX(1);
}



/* HERO SECTION */



.home h2 {
  font-size: 5rem;
  
}
.home p { 
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.home .intro{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  gap: 20vw;
  flex-wrap: wrap;
  
}
.home .intro-text {
  display: flex;
  flex-direction: column;
  
}




.home img {
  border-radius: 70%;
  max-width: 300px;
}


/* SKILLS */

.skills{
  padding-top: 60px;
    
}

.skills h2 {
  font-size: 2rem;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 15px;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f5f5f5;
  border: 2px solid #27272a;
  border-radius: 25px;
  background-color: #18181b;
  width: fit-content;
  padding: 10px;
  filter: grayscale(100%) brightness(70%);
  transition: 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  user-select: none;
}


.skill-card:hover {
  filter: grayscale(0%) brightness(100%);
  transform: scale(1.2);
}

i {
  font-size: 1.5rem;
}
/* PROJECT */



.project {
  
  padding-top: 60px;
  width: 100%;
  
}

.project h2 {
  font-size: 2rem;
}

.project-grid {
  display: grid;
   grid-template-columns: 1fr 1fr;
   place-content: center;
   margin-top: 15px;
   gap: 5rem;
}

.project-card {
  border-radius: 60%;
  align-items: center;
  cursor: pointer;
  color: #f5f5f5;
  height: auto;
  width: 100%;
  position: relative;

}



.project-card img {
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
}

.project-details {
  background-color: #18181b;
  opacity: 99%;
  width: 100%;
  text-align: center; 
  border-radius: 100% 100% 10px 10px ;
  padding: 10px;
  position: absolute;
  bottom: -42px;
  transition: all ease 0.4s;
}

.project-details h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.project-details:hover {
  border-radius: 0 0 10px 10px ;
  
}

.project-details .links {
  
  display: flex;
  justify-content: center;
  gap: 40%;
  
}




/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #18181b;
  margin-top: 150px;
  padding: 20px 50px;

  
}

.footer h3 {
  font-weight: 500;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}


@media (max-width: 800px){
 
  body {
    overflow-x: hidden;
  }

  main {
    padding: 0 2.6vw;
     width: 100vw;
    max-width: 100vw;
    
     }

  nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 2rem;
  }

  .nav-links {
    display: none;
  }

  .home {
    margin-top: 40px;
  }
 .home .intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  gap: 0.1vh;
  
}

.home h2 {
  font-size: 4rem;
  
}

.home p {
  font-size: 1.15rem;
  line-height: 2rem;
}

.home img {
  border-radius: 80%;
  max-width: 250px;
}

.skill-grid {
  gap: 1.6rem;
}

.skill-card {
  filter: grayscale(0%) brightness(100%);
}


.project-grid {
  grid-template-columns: 1fr;
  padding: 0 10px;
}

.project-details{
  border-radius: 0 0 10px 10px;
}


.footer {
  padding: 30px 20px;
  gap: 1rem;
  flex-direction: column-reverse;
}


}


